<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href='./node_modules/angular-material/angular-material.min.css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./stylesheets/custom.css">
		<link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>

	<body flex layout="column" ng-app="ProjectGato" ng-controller="rootCtrl" md-theme="{{theme}}">
		<md-toolbar class="md-hue-2" ng-cloak ng-controller="mainHeaderCtrl as mainHeaderCtrl">
			<div ng-hide='mainHeaderCtrl.newApp' class="md-toolbar-tools">
				<md-button href="#/music/playlists" ng-class="{active: mainHeaderCtrl.active === 'music'}" ng-style='mainHeaderCtrl.active === "music" && {"background-color": mainHeaderCtrl.activeBackgroundColor}' ng-click="mainHeaderCtrl.clickTab('music')" class="md-button main-nav-button">
					Music
				</md-button>
				<md-button href="#/upload" ng-class="{active: mainHeaderCtrl.active === 'upload'}" ng-style='mainHeaderCtrl.active === "upload" && {"background-color": mainHeaderCtrl.activeBackgroundColor}' ng-click="mainHeaderCtrl.clickTab('upload')" class="md-button main-nav-button">
					Upload
				</md-button>

				<span flex></span>

				<md-button ng-click="mainHeaderCtrl.toggleRight()" ng-hide="mainHeaderCtrl.isOpenRight()" class="md-icon-button" aria-label="More">
					<md-icon md-font-icon="invert_colors">invert_colors</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<!--<md-toolbar class="md-hue-6" ng-cloak>
			<div class="md-toolbar-tools">
				<md-tabs md-dynamic-height md-border-bottom>
      				<md-tab label="playlists">
						
      				</md-tab>
      				<md-tab label='artists'>
 						
      				</md-tab>
					<md-tab label='albums'>
						
					</md-tab>
					<md-tab label='songs'>
					</md-tab>
				</md-tabs>-->
				<!--
				<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
					<md-nav-item class="active" md-nav-click="goto('page1')" name="page1">
						Playlists
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page2')" name="page2">
						Artists
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page3')" name="page3">
						Albums
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page4')" name="page4">
						Songs
					</md-nav-item>
				</md-nav-bar>
				-->
				<!--<span flex></span>
				
				<md-button class="md-icon-button" aria-label="search">
					<md-icon md-font-icon="search">search</md-icon>
				</md-button>
			</div>
		</md-toolbar>-->

		<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Settings</h1>
			</md-toolbar>
			<md-content ng-controller="settingsCtrl as settingsCtrl"  md-theme-watch="true" layout-padding>
				<div layout="row" layout-wrap layout-align="center center">
					<h3 flex="100">Select Primary Color</h3>
				    <md-button ng-repeat="color in settingsCtrl.colors" flex-gt-md="15" flex="30"
				            md-colors="{background: 'default-{{color}}'}" md-colors-watch="false"
				            ng-disabled="primary === color && !isPrimary"
				            ng-class='{"unselected-color": color !== settingsCtrl.theme.primary}'
				            ng-click="settingsCtrl.selectPrimaryTheme(color)">
				      	{{color}}
				    </md-button>

				    <h3 flex="100">Select Secondary Color</h3>
				    <md-button ng-repeat="color in settingsCtrl.colors" flex-gt-md="15" flex="30"
				            md-colors="{background: 'default-{{color}}'}" md-colors-watch="false"
				            ng-disabled="primary === color && !isPrimary" 
				            ng-class='{"unselected-color": color !== settingsCtrl.theme.accent}'
				            ng-click="settingsCtrl.selectSecondaryTheme(color)">
				      	{{color}}
				    </md-button>
				    
				</div>
				<div layout='row' layout-align='center start'>
					<md-switch ng-model="settingsCtrl.theme.isDark" aria-label="Switch 1">
					    <h3>Use Dark Palette?</h3>
					</md-switch>
				</div>
				<div layout="row" layout-align="center start">
					<md-button ng-click="settingsCtrl.saveColor()" class="md-primary">
						Save colors
					</md-button>
				</div>
				<!--
				<md-button ng-click="close()" class="md-primary">
					Close Sidenav Right
				</md-button>
				-->
			</md-content>

		</md-sidenav>
		
		<md-content flex layout="column" ng-controller='musicControlsCtrl as musicControls'>
			<audio id="music-player" ng-src="{{musicControls.currentSong.path}}"></audio>
			<div flex id='content' ng-view layout></div>
			<md-content class="music-bar">
				<div class='progress-bar-container'>
					<div class='progress-bar' ng-style='{"background-color": musicControls.primaryColor, "width": musicControls.percentPlayed + "%"}'>

					</div>
				</div>
				<div class="music-controls-container">
					<div class="music-info">
						<img ng-src="{{musicControls.currentSong.picture}}"/>
						<div class="music-title-artist">
							<h4>{{ musicControls.currentSong.title }}</h4>
							<p>{{ musicControls.currentSong.artist }} - {{ musicControls.currentSong.album }}</p>
						</div>
					</div>
					<div class="music-controls">
						<i class="material-icons small">repeat</i>
						<i class="material-icons small" ng-style='{color: musicControls.accentColor}' ng-click='musicControls.prev()'>skip_previous</i>
						<i class="material-icons large" ng-if='musicControls.status === "paused"' ng-click='musicControls.play()' ng-style='{color: musicControls.accentColor}'>play_circle_filled</i>
						<i class='material-icons large' ng-if='musicControls.status === "playing"' ng-click='musicControls.pause()' ng-style='{color: musicControls.accentColor}'>pause_circle_filled</i>
						<i class="material-icons small" ng-style='{color: musicControls.accentColor}' ng-click='musicControls.next()'>skip_next</i>
						<i class="material-icons small">shuffle</i>
					</div>
					<div class="music-extras inline-container" layout='row' layout-align='center center'>
						<i ng-if='musicControls.volume === 0' class='material-icons'>volume_mute</i>
						<i ng-if='musicControls.volume > 0 && musicControls.volume < 50' class='material-icons'>volume_down</i>
						<i ng-if='musicControls.volume >= 50' class='material-icons'>volume_up</i>

						<md-slider class="md-primary" ng-model="musicControls.volume" step="1" min="0" max="100" aria-label="rating">
      					</md-slider>
						<md-button>Lyrics</md-button>
					</div>
				</div>
			</md-content>
		</md-content>

	</body>
	
	<script type="text/javascript" src='app.js'></script>
</html>