<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href='./node_modules/angular-material/angular-material.min.css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./stylesheets/custom.css">

	</head>

	<body ng-app="ProjectGato" ng-controller="rootCtrl" md-theme="{{theme}}">
		<md-toolbar class="md-hue-2" ng-cloak ng-controller="mainHeaderCtrl as mainHeaderCtrl">
			<div class="md-toolbar-tools">
				<md-button href="#/music/playlists" class="md-button">
					Music
				</md-button>
				<md-button href="#/upload" class="md-button">
					Upload
				</md-button>

				<span flex></span>

				<md-button ng-click="mainHeaderCtrl.toggleRight()" ng-hide="mainHeaderCtrl.isOpenRight()" class="md-icon-button" aria-label="More">
					<md-icon md-font-icon="settings">settings</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<!--<md-toolbar class="md-hue-6" ng-cloak>
			<div class="md-toolbar-tools">
				<md-tabs md-dynamic-height md-border-bottom>
      				<md-tab label="playlists">
						
      				</md-tab>
      				<md-tab label='artists'>
 						
      				</md-tab>
					<md-tab label='albums'>
						
					</md-tab>
					<md-tab label='songs'>
					</md-tab>
				</md-tabs>-->
				<!--
				<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
					<md-nav-item class="active" md-nav-click="goto('page1')" name="page1">
						Playlists
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page2')" name="page2">
						Artists
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page3')" name="page3">
						Albums
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page4')" name="page4">
						Songs
					</md-nav-item>
				</md-nav-bar>
				-->
				<!--<span flex></span>
				
				<md-button class="md-icon-button" aria-label="search">
					<md-icon md-font-icon="search">search</md-icon>
				</md-button>
			</div>
		</md-toolbar>-->

		<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Settings</h1>
			</md-toolbar>
			<md-content ng-controller="settingsCtrl as settingsCtrl"  md-theme-watch="true" layout-padding>
				<div layout="row" layout-wrap layout-align="center center">
					<h3 flex="100">Select Primary Color</h3>
				    <md-button ng-repeat="color in settingsCtrl.colors" flex-gt-md="15" flex="30"
				            md-colors="{background: 'default-{{color}}'}" md-colors-watch="false"
				            ng-disabled="primary === color && !isPrimary" ng-click="settingsCtrl.selectPrimaryTheme(color)">
				      	{{color}}
				    </md-button>

				    <h3 flex="100">Select Secondary Color</h3>
				    <md-button ng-repeat="color in settingsCtrl.colors" flex-gt-md="15" flex="30"
				            md-colors="{background: 'default-{{color}}'}" md-colors-watch="false"
				            ng-disabled="primary === color && !isPrimary" ng-click="settingsCtrl.selectSecondaryTheme(color)">
				      	{{color}}
				    </md-button>
				</div>
				<div layout="row" layout-align="center start">
					<md-button ng-click="settingsCtrl.saveColor()" class="md-primary">
						Save colors
					</md-button>
				</div>
				<!--
				<md-button ng-click="close()" class="md-primary">
					Close Sidenav Right
				</md-button>
				-->
			</md-content>

		</md-sidenav>
		<div id='content' ng-view layout></div>
	</body>
	
	<script type="text/javascript" src='app.js'></script>
</html>