<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href='./node_modules/angular-material/angular-material.min.css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./stylesheets/custom.css">

	</head>

	<body ng-app="ProjectGato">
		<md-toolbar class="md-hue-2" ng-cloak ng-controller="mainHeaderCtrl as mainHeaderCtrl">
			<div class="md-toolbar-tools">
				<md-button class="md-button">
					Music
				</md-button>
				<md-button class="md-button">
					Upload
				</md-button>

				<span flex></span>

				<md-button ng-click="mainHeaderCtrl.toggleRight()" ng-hide="mainHeaderCtrl.isOpenRight()" class="md-icon-button" aria-label="More">
					<md-icon md-font-icon="settings">settings</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-toolbar class="md-hue-6" ng-cloak>
			<div class="md-toolbar-tools">
				<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
					<md-nav-item class="active" md-nav-click="goto('page1')" name="page1">
						Playlists
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page2')" name="page2">
						Artists
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page3')" name="page3">
						Albums
					</md-nav-item>
					<md-nav-item md-nav-click="goto('page4')" name="page4">
						Songs
					</md-nav-item>
				</md-nav-bar>

				<span flex></span>
				
				<md-button class="md-icon-button" aria-label="search">
					<md-icon md-font-icon="search">search</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Sidenav Right</h1>
			</md-toolbar>
			<md-content layout-padding>
				<form>
					<md-input-container>
						<label for="testInput">Test input</label>
						<input type="text" id="testInput"
						ng-model="data" md-autofocus>
					</md-input-container>
				</form>

				<md-button ng-click="close()" class="md-primary">
					Close Sidenav Right
				</md-button>

			</md-content>

		</md-sidenav>
		<div id='content' ng-view layout></div>
	</body>
	
	<script type="text/javascript" src='app.js'></script>
</html>