.md-list-item-inner {
  display: flex !important;
  flex-direction: row !important;
}
.md-list-item-inner .md-list-item-text {
  flex: 1;
}
.music-bar {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 100px !important;
  overflow-y: hidden;
}
.music-bar .progress-bar-container {
  height: 6px;
  user-select: none;
  /* Chrome all / Safari all */
  outline: none;
  border: 0;
}
.music-bar .progress-bar-container .progress-bar {
  height: 100%;
  user-select: none;
  /* Chrome all / Safari all */
}
.music-bar .music-controls-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.music-bar .music-controls-container .music-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.music-bar .music-controls-container .music-info img {
  height: 94px;
  width: 94px;
}
.music-bar .music-controls-container .music-info .music-title-artist {
  margin-left: 10px;
}
.music-bar .music-controls-container .music-info .music-title-artist h4 {
  margin-bottom: 4px;
}
.music-bar .music-controls-container .music-info .music-title-artist p {
  margin-top: 0;
}
.music-bar .music-controls-container .music-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 2;
}
.music-bar .music-controls-container .music-controls i {
  margin: 0 10px;
  outline: none;
  border: 0;
}
.music-bar .music-controls-container .music-controls i:hover {
  cursor: pointer;
}
.music-bar .music-controls-container .music-controls i.small {
  font-size: 30px;
}
.music-bar .music-controls-container .music-controls i.large {
  font-size: 65px;
}
.music-bar .music-controls-container .music-extras {
  flex: 1;
}
.panel-container {
  box-sizing: border-box;
  padding: 20px;
}
.panel-container .panel-header {
  margin-left: 8px;
}
.panel-container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.panel-container .card-padding {
  box-sizing: border-box;
  padding: 10px;
  width: 25%;
  margin: 0;
}
.album-header {
  display: flex !important;
  height: 300px;
  flex-direction: row;
}
.album-header img {
  height: 300px;
  width: auto;
}
.album-header .album-info {
  margin-left: 20px;
}
.songs {
  position: relative;
  top: -150px;
}
.songsPanel .songs {
  top: 0;
}
.songs-container {
  background-color: white;
  border: 1px solid #efefef;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.right-click-menu {
  border: 1px solid #efefef;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: white;
  display: none;
  position: fixed;
  z-index: 200;
}
.show-menu {
  display: block;
}
.playlist-selector {
  border: 1px solid #efefef;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: white;
  position: absolute;
  left: 100%;
  top: 0;
}
.playlist-selector .selector-item {
  min-width: 200px;
  max-width: 300px;
}
