.music-bar {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 100px !important;
}
.music-bar .progress-bar-container {
  height: 6px;
}
.music-bar .progress-bar-container .progress-bar {
  height: 100%;
}
.music-bar .music-controls-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.music-bar .music-controls-container .music-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.music-bar .music-controls-container .music-info img {
  height: 94px;
  width: 94px;
}
.music-bar .music-controls-container .music-info .music-title-artist {
  margin-left: 10px;
}
.music-bar .music-controls-container .music-info .music-title-artist h4 {
  margin-bottom: 4px;
}
.music-bar .music-controls-container .music-info .music-title-artist p {
  margin-top: 0;
}
.music-bar .music-controls-container .music-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 2;
}
.music-bar .music-controls-container .music-controls i {
  margin: 0 10px;
}
.music-bar .music-controls-container .music-controls i:hover {
  cursor: pointer;
}
.music-bar .music-controls-container .music-controls i.small {
  font-size: 30px;
}
.music-bar .music-controls-container .music-controls i.large {
  font-size: 65px;
}
.music-bar .music-controls-container .music-extras {
  flex: 1;
}
