<md-content layout="column" flex>
	<div layout='row'>
		<md-tabs md-selected="currentTab" md-stretch-tabs md-dynamic-height md-border-bottom flex>
			<md-tab id='playlists-tab' aria-controls="playlists-tab-content" label="playlists">
			</md-tab>
			<md-tab id='artists-tab' aria-controls="artists-tab-content" label='artists'>
			</md-tab>
			<md-tab id='albums-tab' aria-controls="albums-tab-content" label='albums'>
			</md-tab>
			<md-tab id='songs-tab' aria-control='songs-tab-content' label='songs'>
			</md-tab>
		</md-tabs>
			<!--
			<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
				<md-nav-item class="active" md-nav-click="goto('page1')" name="page1">
					Playlists
				</md-nav-item>
				<md-nav-item md-nav-click="goto('page2')" name="page2">
					Artists
				</md-nav-item>
				<md-nav-item md-nav-click="goto('page3')" name="page3">
					Albums
				</md-nav-item>
				<md-nav-item md-nav-click="goto('page4')" name="page4">
					Songs
				</md-nav-item>
			</md-nav-bar>
			-->
		<span flex='nogrow'></span>
		
		<md-button class="md-icon-button searchbar-search-button" ng-click="searchbar.search(searchbar.searchQuery); searchbar.searchOpen = true;" aria-label="search">
			<md-icon md-font-icon="search">search</md-icon>
		</md-button>

		<!--<md-button class="btn-small" ng-click="searchbar.search(searchbar.searchQuery); searchbar.searchOpen = true;"><i class="material-icons">search</i></md-button>-->
	  	<md-input-container ng-class="{'search-open': searchbar.searchOpen}" md-no-float class="hide-error-msg search-bar">
			<!--<label>Search</label>-->
			<input type="text" id="search-input" ng-model="searchbar.searchQuery" placeholder='Search'>
			<md-button class="close-button md-icon-button" ng-click="searchbar.searchOpen=false"><i class="material-icons">close</i></md-button>
	  	</md-input-container>
	</div>

	<md-content layout-padding flex>
		<ng-switch on="currentTab" class="tabpanel-container">
			<div role='tabpanel' id='playlists-tab-content' aria-labeledby='playlists-tab' ng-switch-when="0">
				<h3>Playlists</h3>
			</div>
			<div role='tabpanel' id='playlists-tab-content' aria-labeledby='playlists-tab' ng-switch-when="1">
				<h3>Artists</h3>
			</div>
			<div role='tabpanel' id='playlists-tab-content' aria-labeledby='playlists-tab' ng-switch-when="2">
				<h3>Albums</h3>
			</div>
			<div role='tabpanel' id='playlists-tab-content' aria-labeledby='playlists-tab' ng-switch-when="3">
				<h3>Songs</h3>
			</div>
		</ng-switch>
	</md-content>
</md-content>