<div ng-controller='playlistsCtrl as p'>
	<div ng-if='!musicControls.state.playlistSelected'>
		<h1>All Playlists</h1>
		<div layout='row'>
			<md-card flex='20' ng-repeat='(key,val) in p.playlists' ng-click='p.selectPlaylist(key)'>
				<img ng-src="{{val[0].picture}}" width='100%' class="md-card-image" alt="">
				<md-card-title>
					<md-card-title-text style='text-overflow: ellipsis;overflow: hidden;'>
						<md-truncate><span class="md-headline">{{ key }}</span></md-truncate>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
	</div>
	<div ng-if='musicControls.state.playlistSelected'>
		<ng-include src='"./client/music/songs.html"'></ng-include>
	</div>
</div>