<div ng-controller='playlistsCtrl as p'>
	<div class='panel-container' ng-if='!musicControls.state.playlistSelected'>
		<h1>All Playlists
			<md-button class="md-fab md-mini md-accent" ng-click='p.addPlaylist($event)'>
				<i class='material-icons' style='line-height: 40px;'>add</i>
			</md-button>
		</h1>
		
		<div class='row'>
			<md-card class='card' ng-repeat='(key,val) in p.playlists'>
				<a ng-click='p.selectPlaylist(key, value)'>
				<img ng-src="{{ val[0].picture || './resources/images/albumPlaceholder.png' }}" width='100%' class="md-card-image" alt="">
				<md-card-title>
					<md-card-title-text style='text-overflow: ellipsis;overflow: hidden;'>
						<md-truncate><span class="md-headline">{{ key }}</span></md-truncate>
					</md-card-title-text>
				</md-card-title>
				</a>
			</md-card>
		</div>
	</div>
	<div ng-if='musicControls.state.playlistSelected'>
		<div layout-padding>
		    <md-button ng-click='musicControls.back()'>
		        <i class='material-icons inline-icon'>arrow_back</i>
		        Back
		    </md-button>
		    <div >
		        <h2>{{ p.currentPlaylist.name }}</h2>
		        <p>{{ p.currentPlaylist.count }} Songs</p>
		        <p>{{ p.currentPlaylist.duration | formatDuration }}</p>
		    </div>
		</div>
		<ng-include src='"./client/music/songs.html"'></ng-include>
	</div>
</div>